apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-service
  namespace: cloudshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: message-service
  template:
    metadata:
      labels:
        app: message-service
    spec:
      containers:
      - name: message-service
        image: shpro123/message-service:latest
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: message-service-config
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: message-service
  namespace: cloudshelf
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: message-service
